.page .cont {
  /* border: 1px solid blue; */
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
}

.page .cont > div {
  width: 33.33%;
  height: 33.33%;
  /* border: black solid 1px; */
  background-size: cover;

  /* margin: 1px; */
}

.page .cont .list-image {
  width: 100%;
  height: 100%;
  max-height: 100%;
}

.sous-menu {
  /* border: 1px solid #000; */
  margin-top: -20px;
  margin-bottom: 10px;
  padding-left: 8px;
}
.sous-menu > div {
  /* border: 1px solid #000; */
  font-weight: 500;
  cursor: pointer;
}
.sous-menu > div:hover {
  font-weight: 800;
  display: flex;
  flex-direction: column;
}
